.active {
  color: #3D50FC;
  text-decoration: underline;
}

.combined-transform {
  @apply animate-marquee;
  transform: translateY(-50%) translateX(10px);
}

.combined-transform-animation {
  animation: marquee 10s linear infinite;
}